<div id="huckleberry-subscription-customer-portal-wrap" style="display:none; padding: 55px">
  <p><a href="{{ routes.account_url }}">アカウントに戻る</a></p>
  <div id="huckleberry-subscription-customer-portal"></div>
</div>